---
import Layout from '../layouts/Layout.astro';
import Profile from "../components/Profile.astro";

import Contributions from "../components/Contributions.astro"
---
<Layout>
    <section class="h-[50%] grid-cols-5 grid p-24 pt-48 gap-16">
        <Profile/>
        <div class="col-span-3 gap-8 flex flex-col">
            <Contributions/>
        </div>
    </section>
</Layout>
