---
import Btn from "./NavbarLink.astro"

let href = Astro.url.toString()
href = href.replace(Astro.url.host.toString(), "")
href = href.replace("https://", "")
href = href.replace("http://", "")
---
<div class="fixed z-40 bg-ctp-base 
    left-[2%] right-[2%] md:left-[4%] md:right-[4%] xl:left-[8%] xl:right-[8%] 
    pl-8 pr-8 pt-4 pb-4 flex justify-between rounded-bl-2xl rounded-br-2xl squircle">
    <div class="flex gap-4 items-center">
        <span class="flex flex-col">
            <span>~/banana{href}</span>
        </span>
    </div>
    <div class="flex gap-6 items-center">
        <Btn page="home"/>
        <Btn page="projects"/>
    </div>
</div>
<style>
@reference "../../styles/global.css"
a {
    @apply ;
}
</style>
