---
import { Heart, Rocket, Copyright } from "@lucide/astro"
---
<div class="flex justify-between bg-ctp-base p-6 pl-12 pr-12">
    <span class="inline-flex gap-2">
        Copyright 
        <Copyright size="20" class="stroke-ctp-text"/>
        2026 Banana
    </span>
    <span class="inline-flex gap-2">
        Made with
        <Heart size="20" class="stroke-ctp-red"/>
        using Astro
        <Rocket size="20" class="stroke-ctp-lavender"/>
    </span>
</div>
