---
interface Props {
    page: String;
}
const {page} = Astro.props
var href = page
if (href == "home") {
    href = ""
}
---
<a 
    href=`/${href}` 
    class="font-bold
    text-ctp-yellow hover:text-ctp-blue 
    hover:underline 
    ease-in hover:ease-out transition-all
    ">{page}</a>




