---
import Label from "../Label.astro"
import Dotfiles from "../projects/Dotfiles.astro"
import IsleStats from "../projects/IsleStats.astro"
import Potassium from "../projects/PotassiumSh.astro"
---

<div class="flex flex-col p-8 border-ctp-surface0 border w-full h-min relative">
    <Label name="Pinned"/>
    <div class="flex flex-wrap">
        <IsleStats/>
        <Potassium />
        <Dotfiles />
    </div>
</div>
