---
import Label from '../Label.astro';
import Quote from './Quote.astro'
import BadgeBar from "../Badgebar.astro"
import Butterfly from "../../assets/butterfly.svg"

let home = "hidden lg:flex" 
if (Astro.url.pathname == "/") {
    home = "flex"
}
---
<div class=`${home} flex-col md:col-span-2 border border-ctp-surface0 gap-[-1px] w-full h-min`>
    <span class="p-4 pb-0 border-b border-ctp-surface0 relative">
        <img src="/banner.png" class="w-full"/>
    </span>
    <div class="p-8 pt-12 flex-col flex flex-wrap relative">
        <img src="/doodlecat.png" width="96px" height="96px" 
            class="rounded-full absolute -top-12 left-8 border-6 border-ctp-mantle" />
        <span class="text-base flex justify-between w-full flex-wrap gap-2">
            <span class="flex flex-col">
                <span class="text-2xl font-bold">Banana</span>
                <a href="mailto:banana@potassium.sh" class="hover:underline ease-in hover:ease-out transition-all">banana@potassium.sh</a>
            </span>
            <BadgeBar 
                badges={[
                    {
                        icon: "Github",
                        color: "var(--catppuccin-color-green)",
                        href: "https://github.com/imabanana80"
                    },
                    {
                        icon: "Spool",
                        color: "var(--catppuccin-color-lavender)",
                        href: "https://tangled.org/@banana.tngl.sh"
                    },
                    {
                        icon: Butterfly,
                        color: "var(--catppuccin-color-sapphire)",
                        href: "https://bsky.app/profile/imabanana80.com",
                        svg: true
                    }
                ]}
                size='20'
            />
        </span>
        <span class="relative p-3 mt-4 border border-ctp-surface0 text-sm">
            <Label name="Currently"/>
            Switching to endeavoros | Open for Hire
        </span>
        <span class="relative p-3 mt-4 border border-ctp-surface0 text-sm">
            <Label name="About"/>
            Hi, I'm Banana, a computer science student and software developer that specialises in 
            Web Development as well as developing and hosting Minecraft Events.
        </span>
        <span class="relative p-3 mt-4 border border-ctp-surface0 text-ctp-subtext0 text-sm">
            <Label name="Time"/>
            <span id="clock" class="text-ctp-text"></span> (SGT/UTC+8)
        </span>
        <span class="relative p-3 mt-4 border border-ctp-surface0 text-sm">
            <Label name="Languages"/>
            <span>Java, Python, Golang, HTML/CSS/TS</span>
        </span>
        <span class="relative p-3 -mt-px border border-ctp-surface0 text-sm">
            <Label name="Frameworks"/>
            <span>PaperMC, Astro, Tailwindcss</span>
        </span>
        <span class="relative p-3 -mt-px border border-ctp-surface0 text-sm">
            <Label name="Tools"/>
            <span>Neovim, IntellIJ, Figma, VSC*de</span>
        </span>
        <div class="mt-4 flex">
            <Quote />
        </div>
    </div >
</div>


<script>
const clockElement: HTMLElement | null = document.getElementById("clock");

if (!clockElement) {
    console.error(`Error: Clock element with ID "clock" not found.`);
}

const displayTime = (): void => {
    const now: Date = new Date();

    const options: Intl.DateTimeFormatOptions = {
    hour: '2-digit',     
    minute: '2-digit',  
    second: '2-digit', 
    hour12: false,    
    timeZone: "Asia/Singapore"
    };

    const timeString: string = now.toLocaleTimeString('en-US', options);
    clockElement.textContent = timeString;
};
displayTime();
setInterval(displayTime, 1000);
</script>
