---
import Layout from './Layout.astro';
import Profile from "../components/section/Profile.astro";
---
<Layout>
    <section class="h-[50%] 
        flex flex-col lg:grid-cols-5 lg:grid 
        p-10 pt-15 md:p-12 md:pt-18 xl:p-24 xl:pt-36 gap-4 md:gap-8 xl:gap-16">
        <Profile/>
        <div class="md:col-span-3 gap-4 md:gap-8 xl:gap-12 flex flex-col">
            <slot/>
        </div>
    </section>
</Layout>
